# Default ignored files
/../../243697_U3_AC1./.idea/shelf/
/../../243697_U3_AC1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../243697_U3_AC1./.idea/httpRequests/
# Datasource local storage ignored files
/../../243697_U3_AC1./.idea/dataSources/
/../../243697_U3_AC1./.idea/dataSources.local.xml
